<!doctype html>
<html class="no-js" lang="en">
  <% include partials/head %>
  <body>
    <% include partials/nav %>
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>XTRA</h1>
              <span class="subheading">For bloggers tired of the milquetoast bullshit you see on <em>Medium</em>.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <h1>Posts:</h1>
          </div>
        </div>
      </div>
    </div>
    <% posts.forEach(function(post) { %>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="@<%= post.author.username %>/<%= post.title %>">
                <h3 class="post-title">
                  <%= post.title %>
                </h3>
                <h4 class="post-subtitle">
                  <%= post.body %>
                </h4>
              </a>
              <p class="post-meta">Posted by
                <a href="/@<%= post.author.username %>/"><%= post.author.username %></a> on <%= post.date.updated %></p>
            </div>
            <hr>
          </div>
        </div>
      </div>
    <% }) %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <form id="create-form" method="post" action="/api/user/create">
                  <div class="form-register-with-email">
                      <div class="form-white-background">
                          <div class="form-title-row">
                              <h1>Create an account</h1>
                          </div>
                          <div class="form-row">
                              <label>
                                  <span>Username</span>
                                  <input type="text" name="username">
                              </label>
                          </div>
                          <div class="form-row">
                              <label>
                                  <span>Email</span>
                                  <input type="email" name="email">
                              </label>
                          </div>
                          <div class="form-row">
                              <label>
                                  <span>Password</span>
                                  <input type="password" name="password">
                              </label>
                          </div>
                          <div class="form-row">
                              <button type="submit">Get Started</button>
                          </div>
                      </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
